%h1= @tag ? "Articles Tagged '#{@tag}'" : "All Articles"
%div= link_to "New Article", new_article_path, :class => 'new_article'
%div#sidebar Filter by Tag: #{tag_links(Tag.all)}
%ul#articles= render @articles

