%h1= @article.title
%h4 Published #{@article.created_at}
%p.tag_list
  %em Tagged
  #{@article.tag_list}
%p= @article.body
%div.article_actions
  #{edit_icon(@article, " Edit")}
  #{delete_icon(@article, " Delete")}
  #{link_to "Back to All Articles", articles_path }
%h3= pluralize @article.comments.count, "Comment"
= render :partial => 'common/comments', :locals => {:subject => @article}